In [1]:
import pandas as pd
import os 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tb = pd.read_excel("TB_burden_countries_2022-08-02.xlsx",0
                )

In [4]:
tb.head(13)

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,20779957,190.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,34.0,18.0,13.0,28.0
1,Afghanistan,AF,AFG,4,EMR,2001,21606992,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,47.0,25.0,17.0,38.0
2,Afghanistan,AF,AFG,4,EMR,2002,22600774,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,61.0,32.0,23.0,50.0
3,Afghanistan,AF,AFG,4,EMR,2003,23680871,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,58.0,31.0,22.0,48.0
4,Afghanistan,AF,AFG,4,EMR,2004,24726689,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,74.0,39.0,28.0,61.0
5,Afghanistan,AF,AFG,4,EMR,2005,25654274,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,85.0,45.0,32.0,70.0
6,Afghanistan,AF,AFG,4,EMR,2006,26433058,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,96.0,51.0,36.0,79.0
7,Afghanistan,AF,AFG,4,EMR,2007,27100542,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,106.0,56.0,39.0,87.0
8,Afghanistan,AF,AFG,4,EMR,2008,27722281,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,102.0,54.0,38.0,83.0
9,Afghanistan,AF,AFG,4,EMR,2009,28394806,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,92.0,49.0,34.0,75.0
10,Afghanistan,AF,AFG,4,EMR,2010,29185511,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,96.0,51.0,35.0,79.0
11,Afghanistan,AF,AFG,4,EMR,2011,30117411,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,93.0,49.0,34.0,76.0
12,Afghanistan,AF,AFG,4,EMR,2012,31161378,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,92.0,49.0,34.0,75.0

In [5]:
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   4487 non-null   object
 1   iso2                      4466 non-null   object
 2   iso3                      4487 non-null   object
 3   iso_numeric               4487 non-null   int64
 4   g_whoregion               4487 non-null   object
 5   year                      4487 non-null   int64
 6   e_pop_num                 4487 non-null   int64
 7   e_inc_100k                4487 non-null   float64
 8   e_inc_100k_lo             4487 non-null   float64
 9   e_inc_100k_hi             4487 non-null   float64
 10  e_inc_num                 4487 non-null   int64
 11  e_inc_num_lo              4487 non-null   int64
 12  e_inc_num_hi              4487 non-null   int64
 13  e_tbhiv_prct              3857 non-null   float64
 14  e_tbhiv_prct_lo           3857 non-null   float64
 15  e_tbhiv_prct_hi           3857 non-null   float64
 16  e_inc_tbhiv_100k          3857 non-null   float64
 17  e_inc_tbhiv_100k_lo       3857 non-null   float64
 18  e_inc_tbhiv_100k_hi       3857 non-null   float64
 19  e_inc_tbhiv_num           3857 non-null   float64
 20  e_inc_tbhiv_num_lo        3857 non-null   float64
 21  e_inc_tbhiv_num_hi        3857 non-null   float64
 22  e_mort_exc_tbhiv_100k     4466 non-null   float64
 23  e_mort_exc_tbhiv_100k_lo  4466 non-null   float64
 24  e_mort_exc_tbhiv_100k_hi  4466 non-null   float64
 25  e_mort_exc_tbhiv_num      4466 non-null   float64
 26  e_mort_exc_tbhiv_num_lo   4466 non-null   float64
 27  e_mort_exc_tbhiv_num_hi   4466 non-null   float64
 28  e_mort_tbhiv_100k         4466 non-null   float64
 29  e_mort_tbhiv_100k_lo      4466 non-null   float64
 30  e_mort_tbhiv_100k_hi      4466 non-null   float64
 31  e_mort_tbhiv_num          4466 non-null   float64
 32  e_mort_tbhiv_num_lo       4466 non-null   float64
 33  e_mort_tbhiv_num_hi       4466 non-null   float64
 34  e_mort_100k               4466 non-null   float64
 35  e_mort_100k_lo            4466 non-null   float64
 36  e_mort_100k_hi            4466 non-null   float64
 37  e_mort_num                4466 non-null   float64
 38  e_mort_num_lo             4466 non-null   float64
 39  e_mort_num_hi             4466 non-null   float64
 40  cfr                       211 non-null    float64
 41  cfr_lo                    211 non-null    float64
 42  cfr_hi                    211 non-null    float64
 43  cfr_pct                   211 non-null    float64
 44  cfr_pct_lo                211 non-null    float64
 45  cfr_pct_hi                211 non-null    float64
 46  c_newinc_100k             4322 non-null   float64
 47  c_cdr                     4220 non-null   float64
 48  c_cdr_lo                  4220 non-null   float64
 49  c_cdr_hi                  4220 non-null   float64
dtypes: float64(40), int64(6), object(4)
memory usage: 1.7+ MB

In [6]:
tb.isnull()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
4483,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
4484,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
4485,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
4486,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
#rows missing in each column
tb.isnull().sum()

country                        0
iso2                          21
iso3                           0
iso_numeric                    0
g_whoregion                    0
year                           0
e_pop_num                      0
e_inc_100k                     0
e_inc_100k_lo                  0
e_inc_100k_hi                  0
e_inc_num                      0
e_inc_num_lo                   0
e_inc_num_hi                   0
e_tbhiv_prct                 630
e_tbhiv_prct_lo              630
e_tbhiv_prct_hi              630
e_inc_tbhiv_100k             630
e_inc_tbhiv_100k_lo          630
e_inc_tbhiv_100k_hi          630
e_inc_tbhiv_num              630
e_inc_tbhiv_num_lo           630
e_inc_tbhiv_num_hi           630
e_mort_exc_tbhiv_100k         21
e_mort_exc_tbhiv_100k_lo      21
e_mort_exc_tbhiv_100k_hi      21
e_mort_exc_tbhiv_num          21
e_mort_exc_tbhiv_num_lo       21
e_mort_exc_tbhiv_num_hi       21
e_mort_tbhiv_100k             21
e_mort_tbhiv_100k_lo          21
e_mort_tbhiv_100k_hi          21
e_mort_tbhiv_num              21
e_mort_tbhiv_num_lo           21
e_mort_tbhiv_num_hi           21
e_mort_100k                   21
e_mort_100k_lo                21
e_mort_100k_hi                21
e_mort_num                    21
e_mort_num_lo                 21
e_mort_num_hi                 21
cfr                         4276
cfr_lo                      4276
cfr_hi                      4276
cfr_pct                     4276
cfr_pct_lo                  4276
cfr_pct_hi                  4276
c_newinc_100k                165
c_cdr                        267
c_cdr_lo                     267
c_cdr_hi                     267
dtype: int64

In [11]:
tb.columns

Index(['country', 'iso2', 'iso3', 'iso_numeric', 'g_whoregion', 'year',
       'e_pop_num', 'e_inc_100k', 'e_inc_100k_lo', 'e_inc_100k_hi',
       'e_inc_num', 'e_inc_num_lo', 'e_inc_num_hi', 'e_tbhiv_prct',
       'e_tbhiv_prct_lo', 'e_tbhiv_prct_hi', 'e_inc_tbhiv_100k',
       'e_inc_tbhiv_100k_lo', 'e_inc_tbhiv_100k_hi', 'e_inc_tbhiv_num',
       'e_inc_tbhiv_num_lo', 'e_inc_tbhiv_num_hi', 'e_mort_exc_tbhiv_100k',
       'e_mort_exc_tbhiv_100k_lo', 'e_mort_exc_tbhiv_100k_hi',
       'e_mort_exc_tbhiv_num', 'e_mort_exc_tbhiv_num_lo',
       'e_mort_exc_tbhiv_num_hi', 'e_mort_tbhiv_100k', 'e_mort_tbhiv_100k_lo',
       'e_mort_tbhiv_100k_hi', 'e_mort_tbhiv_num', 'e_mort_tbhiv_num_lo',
       'e_mort_tbhiv_num_hi', 'e_mort_100k', 'e_mort_100k_lo',
       'e_mort_100k_hi', 'e_mort_num', 'e_mort_num_lo', 'e_mort_num_hi', 'cfr',
       'cfr_lo', 'cfr_hi', 'cfr_pct', 'cfr_pct_lo', 'cfr_pct_hi',
       'c_newinc_100k', 'c_cdr', 'c_cdr_lo', 'c_cdr_hi'],
      dtype='object')

In [20]:
#Drop columns that are not needed
new_dataset= tb.drop(["iso2","iso_numeric","e_inc_100k_lo","e_inc_100k_hi","e_inc_num_lo","e_inc_num_hi","e_tbhiv_prct_lo","e_tbhiv_prct_hi","e_inc_tbhiv_100k_lo","e_inc_tbhiv_100k_hi","e_inc_tbhiv_num_lo","e_inc_tbhiv_num_hi","e_mort_exc_tbhiv_100k_lo","e_mort_exc_tbhiv_100k_hi","e_mort_exc_tbhiv_num_lo","e_mort_exc_tbhiv_num_hi","e_mort_tbhiv_100k_lo","e_mort_tbhiv_100k_hi","e_mort_tbhiv_num_lo","e_mort_tbhiv_num_hi","e_mort_100k_lo","e_mort_100k_hi","e_mort_num_lo","e_mort_num_hi","cfr","cfr_lo","cfr_hi","cfr_pct_lo","cfr_pct_hi","cfr_pct",
"c_cdr_lo","c_cdr_hi"], axis= 1)
display(new_dataset)

,country,iso3,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_num,e_tbhiv_prct,e_inc_tbhiv_100k,e_inc_tbhiv_num,e_mort_exc_tbhiv_100k,e_mort_exc_tbhiv_num,e_mort_tbhiv_100k,e_mort_tbhiv_num,e_mort_100k,e_mort_num,c_newinc_100k,c_cdr
0,Afghanistan,AFG,EMR,2000,20779957,190.0,39000,0.02,0.03,7.0,68.0,14000.0,0.17,35.0,68.0,14000.0,34.0,18.0
1,Afghanistan,AFG,EMR,2001,21606992,189.0,41000,0.01,0.03,6.0,63.0,14000.0,0.30,65.0,63.0,14000.0,47.0,25.0
2,Afghanistan,AFG,EMR,2002,22600774,189.0,43000,0.01,0.03,6.0,57.0,13000.0,0.27,62.0,57.0,13000.0,61.0,32.0
3,Afghanistan,AFG,EMR,2003,23680871,189.0,45000,0.01,0.03,6.0,58.0,14000.0,0.29,69.0,58.0,14000.0,58.0,31.0
4,Afghanistan,AFG,EMR,2004,24726689,189.0,47000,0.01,0.03,7.0,51.0,13000.0,0.29,71.0,52.0,13000.0,74.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,Zimbabwe,ZWE,AFR,2016,14030338,233.0,33000,65.00,151.00,21000.0,8.6,1200.0,30.00,4200.0,38.0,5400.0,190.0,81.0
4483,Zimbabwe,ZWE,AFR,2017,14236599,221.0,31000,63.00,140.00,20000.0,8.3,1200.0,27.00,3800.0,35.0,5000.0,182.0,82.0
4484,Zimbabwe,ZWE,AFR,2018,14438812,210.0,30000,62.00,130.00,19000.0,7.7,1100.0,24.00,3500.0,32.0,4600.0,175.0,83.0
4485,Zimbabwe,ZWE,AFR,2019,14645473,199.0,29000,60.00,119.00,17000.0,11.0,1700.0,31.00,4600.0,43.0,6300.0,143.0,72.0
4486,Zimbabwe,ZWE,AFR,2020,14862927,193.0,29000,54.00,104.00,16000.0,14.0,2100.0,40.00,5900.0,54.0,8000.0,106.0,55.0

In [21]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                4487 non-null   object
 1   iso3                   4487 non-null   object
 2   g_whoregion            4487 non-null   object
 3   year                   4487 non-null   int64
 4   e_pop_num              4487 non-null   int64
 5   e_inc_100k             4487 non-null   float64
 6   e_inc_num              4487 non-null   int64
 7   e_tbhiv_prct           3857 non-null   float64
 8   e_inc_tbhiv_100k       3857 non-null   float64
 9   e_inc_tbhiv_num        3857 non-null   float64
 10  e_mort_exc_tbhiv_100k  4466 non-null   float64
 11  e_mort_exc_tbhiv_num   4466 non-null   float64
 12  e_mort_tbhiv_100k      4466 non-null   float64
 13  e_mort_tbhiv_num       4466 non-null   float64
 14  e_mort_100k            4466 non-null   float64
 15  e_mort_num             4466 non-null   float64
 16  c_newinc_100k          4322 non-null   float64
 17  c_cdr                  4220 non-null   float64
dtypes: float64(12), int64(3), object(3)
memory usage: 631.1+ KB

In [23]:
new_dataset.isnull().sum()

country                    0
iso3                       0
g_whoregion                0
year                       0
e_pop_num                  0
e_inc_100k                 0
e_inc_num                  0
e_tbhiv_prct             630
e_inc_tbhiv_100k         630
e_inc_tbhiv_num          630
e_mort_exc_tbhiv_100k     21
e_mort_exc_tbhiv_num      21
e_mort_tbhiv_100k         21
e_mort_tbhiv_num          21
e_mort_100k               21
e_mort_num                21
c_newinc_100k            165
c_cdr                    267
dtype: int64

In [28]:
new_Tb_data = new_dataset.fillna(0)

In [30]:
display(new_Tb_data)

,country,iso3,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_num,e_tbhiv_prct,e_inc_tbhiv_100k,e_inc_tbhiv_num,e_mort_exc_tbhiv_100k,e_mort_exc_tbhiv_num,e_mort_tbhiv_100k,e_mort_tbhiv_num,e_mort_100k,e_mort_num,c_newinc_100k,c_cdr
0,Afghanistan,AFG,EMR,2000,20779957,190.0,39000,0.02,0.03,7.0,68.0,14000.0,0.17,35.0,68.0,14000.0,34.0,18.0
1,Afghanistan,AFG,EMR,2001,21606992,189.0,41000,0.01,0.03,6.0,63.0,14000.0,0.30,65.0,63.0,14000.0,47.0,25.0
2,Afghanistan,AFG,EMR,2002,22600774,189.0,43000,0.01,0.03,6.0,57.0,13000.0,0.27,62.0,57.0,13000.0,61.0,32.0
3,Afghanistan,AFG,EMR,2003,23680871,189.0,45000,0.01,0.03,6.0,58.0,14000.0,0.29,69.0,58.0,14000.0,58.0,31.0
4,Afghanistan,AFG,EMR,2004,24726689,189.0,47000,0.01,0.03,7.0,51.0,13000.0,0.29,71.0,52.0,13000.0,74.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4482,Zimbabwe,ZWE,AFR,2016,14030338,233.0,33000,65.00,151.00,21000.0,8.6,1200.0,30.00,4200.0,38.0,5400.0,190.0,81.0
4483,Zimbabwe,ZWE,AFR,2017,14236599,221.0,31000,63.00,140.00,20000.0,8.3,1200.0,27.00,3800.0,35.0,5000.0,182.0,82.0
4484,Zimbabwe,ZWE,AFR,2018,14438812,210.0,30000,62.00,130.00,19000.0,7.7,1100.0,24.00,3500.0,32.0,4600.0,175.0,83.0
4485,Zimbabwe,ZWE,AFR,2019,14645473,199.0,29000,60.00,119.00,17000.0,11.0,1700.0,31.00,4600.0,43.0,6300.0,143.0,72.0
4486,Zimbabwe,ZWE,AFR,2020,14862927,193.0,29000,54.00,104.00,16000.0,14.0,2100.0,40.00,5900.0,54.0,8000.0,106.0,55.0

In [31]:
new_Tb_data.to_excel('TB_cleaned.xlsx', index= False)